<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/1a1548c5-7d22-41fe-9dd6-2b64a840cb24/resourceGroups/KL-LINUX/providers/Microsoft.ContainerRegistry/registries/fokacr</ContainerResourceId>
    <ContainerResourceName>fokacr</ContainerResourceName>
    <Subscription>KevinLi</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>fokacr.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://kl-docker-new.scm.azurewebsites.net/</SCMUrl>
    <ResourceId>/subscriptions/1a1548c5-7d22-41fe-9dd6-2b64a840cb24/resourceGroups/KL-LINUX/providers/Microsoft.Web/sites/kl-docker-new</ResourceId>
    <ResourceGroup>KL-LINUX</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://kl-docker-new.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9d6064f5-8613-4992-9afc-cba18b7d4a94</ProjectGuid>
  </PropertyGroup>
</Project>